body, html {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0;
    background: #fff;
    color: #424242;
}
h1, h2, h3, h4, h5, h6 {
	padding-bottom: 5px;
	line-height: normal;
	font-weight: normal;
	margin: 0 0 10px;
}
h1 {
	font-family: 'Source Sans Pro', sans-serif;
}
h2 {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 700;
}
h3 {
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 0.025em;
}

h1 { font-size: 48px;}
h2 { font-size: 32px;}
h3 { font-size: 18px;}
h4 { font-size: 16px;}
h5 { font-size: 14px;}
h6 { font-size: 12px;}

p {	
	font-weight: 400;
	color: #949799;
}

a {
	color: #3bc0c3
}
a:hover {
	color: #416467; 
	text-decoration: none;
}
a:active {
	color: #416467;
}
ul, li {
	list-style: none;
}

.section {
	background-color: #fff;
	color: inherit;
	position: relative;
	padding: 90px 0;
}
.section_title {
	margin-bottom: 70px;
}
.section_title h2 {
	font-weight: 300;
}
.section_title:after {
	content: "";
	border-radius: 5px;
	background: #3bc0c3;
	height: 4px;
	width: 80px;
	margin: 0 auto;
	bottom: 0px;
	left: 0px;
	right: 0px;
	display: block;
}
.bg-gray {
	background: #f7f8fa;
	border-top: 1px solid #e7e8ec;
	border-bottom: 1px solid #e7e8ec;
}
.no-margin {
    margin: 0;
}
.no-padding {
	padding: 0px;
}

/* BUTTONS */

.btn-theme {
	padding: 12px 35px;
	font-size: 18px;
	background: none;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-color: #3bc0c3;
	color: #fff;
}
.btn-theme-outline {
	padding: 11px 34px;
	font-size: 18px;
	background: none;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 2px solid #3bc0c3;
	color: #3bc0c3;
}

.btn-theme:hover,
.btn-theme:active,
.btn-theme:focus{
	color: #fff;
	outline: none;
}
.btn-theme-outline:hover,
.btn-theme-outline:focus,
.btn-theme-outline:active{
	color: #3bc0c3;
}
/* ANIMATIONS HOVER */

.pulse-hover:hover {
	-webkit-animation: pulse .3s;
			animation: pulse .3s;
}
/* PRE LOADER */
.preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fefefe;
	z-index: 99999;
	height: 100%;
	width: 100%;
	overflow: hidden !important;
}

.status {
	width: 40px;
	height: 40px;
	position: absolute;
	left: 50%;
	top: 50%;
	background-image: url(../images/preloader.gif);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
	margin: -20px 0 0 -20px;
}


#intro {
	padding: 10% 0;
	z-index: 1;
	position: relative;
	font-size: 13px;
	color: #fff;
	background: #333b4d;
	min-height: 400px;
}

.bg-img {
	z-index: -1;
	position: absolute;
	top: 0;
	opacity: 0.10;
	right: 0;
	bottom: 0;
	left: 0;
	background: url(../images/bg2.jpg) no-repeat center;
}
.showcase h3 {
	margin-bottom: 40px;
	font-weight: 300;
    color: #ccc;
}

/*----- form placeholder style-----*/

.form-control::-moz-placeholder {
    color: #999;
    opacity: 1;
    line-height: 18px;
}
.form-control::-ms-input-placeholder {
    color: #999;
    line-height: 18px;
}
.form-control::-webkit-input-placeholder {
    color: #999;
    line-height: 18px;
}

/*-----on focus style-----*/

.form-control:focus::-moz-placeholder {
    color: #000;
}
.form-control:focus::-ms-input-placeholder {
    color: #000;
}
.form-control:focus::-webkit-input-placeholder {
    color: #000;
}

/* Intro Form */
.intro-form {
	background-color: #FFFFFF;
	padding: 30px;
	border-radius: 5px;
	border: 3px solid #eee;
}
.intro-form h3{
	color: #949799;
	font-size: 20px;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.intro-form input {
	box-shadow: none !important;
	border: 2px solid #eee;
	height: 38px;
}
.intro-form input:focus {
	outline: none;
	border: 2px solid #3bc0c3;
}


/*
========================================================================
Footer styles
------------------------------------------------------------------------
*/
#footer {
	width: 100%;
	border-top: none;
	z-index: 100;
	padding: 50px 0 20px 0;
}


@media only screen and (max-width: 991px) {
.showcase img {
	width: 100%;
	height: auto;
}
}